@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;500;600&display=swap");
* {
    margin: 0;
    padding: 0;
    --myPurple: #5e548e;
    --myBlack: #333333;
    --lightPurple: #8972b6;
    --mygreen: #496f5d;
    --mylightgreen: #62a87c;
}

body {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 40px 350px 1fr;
    grid-template-rows: 100vh;
    grid-template-areas: "side-bar left-section right-section";
}
.side-bar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    background-color: var(--myBlack);
    font-size: 30px;
    border-right: 2px solid var(--myPurple);
}

.side-bar > i:hover {
    cursor: pointer;
    box-shadow: 0px 15px 20px var(--myBlack);
    color: var(--lightPurple);
    transform: translateY(-7px);
}
.side-bar > i {
    color: white;
    box-shadow: 0px 8px 15px var(--myBlack);
    transition: all 0.2s ease 0s;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.col-12 {
    display: flex;
    align-items: center;
    gap: 8px;
}

.whereiam {
    color: var(--myBlack);
    font-size: 28px;
}

.btn-add-note {
    color: var(--myPurple);
    font-size: 33px;
    cursor: pointer;
    border: 0;
    outline: none;
    background-color: transparent;
}

.btn-add-note:hover {
    color: var(--lightPurple);
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    width: 90%;
    padding: 0.4em 1em;
    border-radius: 30px;
    color: white;
    background-color: var(--myBlack);
    font-size: 18px;
    font-weight: 500;
    border: 0;
    outline: none;
    font-family: "Kanit", sans-serif;
}

.search-input::placeholder {
    color: white;
    font-weight: 500;
}

.search-input:focus {
    outline: none;
    box-shadow: 0 0 0 0.1rem var(--myPurple);
}

.container {
    padding-bottom: 1.2rem;
    border-bottom: 2px solid var(--myPurple);
}
.left-section {
    border-right: #5e548e 3px solid;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-size: 18px;
    height: 100vh;
}

.no-items {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    color: var(--myPurple);
    font-family: "Kanit", sans-serif;
}
.items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
    color: var(--myBlack);
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    overflow-y: scroll;
    max-height: 70%;
}
::-webkit-scrollbar {
    width: 10px;
}
.fa-bars {
    font-size: 28px;
    color: var(--myPurple);
    cursor: pointer;

    height: 100%;
}
.card {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    font-size: 18px;
    cursor: pointer;
    padding-bottom: 15px;
    border-bottom: 3px solid var(--myPurple);   
}
.hrByMe {
    border: 1px solid var(--myPurple);
    width: 100%;
}
.right-section {
    font-family: "Kanit", sans-serif;
    font-size: 18px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh;
}
.note-title-input {
    font-size: 27px;
    width: 100%;
    border: none;
    padding: 5px 0;
    font-weight: 500;
    outline: none;
    font-family: "kanit", sans-serif;
}
.uppernote {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-family: "Kanit", sans-serif;
    cursor: pointer;
    border-bottom: 2px solid var(--myPurple);
}
.note-tags-input {
    font-size: 14px;
    width: 50%;
    border: none;
    padding: 5px 0;
    font-weight: 500;
    outline: none;
    font-family: "kanit", sans-serif;
}

.submit-btn,
#delete,
.pin {
    background-size: cover;
    border: none;
    outline: 0;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    background-color: transparent;
}

.submit-btn {
    background-image: url(./images/icons8-vérifié-48.png);
}

#delete {
    background-image: url(./images/icons8-poubelle-50.png);
}

.pin {
    background-image: url(./images/broche.png);
}

/* Button Hover Styles */
.pin:hover {
    transform: rotate(-45deg);
}

.submit-btn:hover {
    transform: scale(1.2);
}

#delete:hover {
    animation: shake 0.35s ease-in-out;
}
@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(-15deg);
    }
    75% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.note-area {
    padding: 1rem 2rem 0 2rem;
    height: 100%;
}
textarea {
    height: 100%;
    width: 100%;
    outline: 0;
    border: 0;
    resize: none;
    font-size: 16px;
    font-weight: 400;
    font-family: "Kanit", sans-serif;
}

.arrow {
    width: 250px;
    height: auto;
    rotate: 243deg;
    padding: 1rem;
    pointer-events: none;
    user-select: none;
}
.quote {
    font-size: 20px;
    font-weight: 500;
    color: var(--myPurple);
    font-family: "Kanit", sans-serif;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 47%;
    padding: 1rem;
}
.note-head {
    display: none;
}
.first-page {
    display: block;
}
.note-date {
    font-size: 15px;
}
.show {
    display: block;
    color: var(--myBlack);
    font-size: 13px;
    border-radius: 2px;
    padding: 1px;
    background-color: var(--mylightgreen);
    width: 50px;
    text-align: center;
    overflow: hidden;
}
.tag-icon {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    padding-top: 15px;
}
.delete-btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    transition-timing-function: cubic-bezier(0.62, 0.08, 0.83, 0.67);
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    padding: 15px;
}

.delete-btn:hover {
    background-color: rgb(255, 69, 69);
}



